<% include partials/header.ejs %>

<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-primary ">Log Out</button>
</form>


<% include partials/footer.ejs %>